/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #fff;
    color: #444;
}

/* NAVBAR */
header {
    background: #F7E9A7; /* amarelo pastel */
    padding: 15px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.navbar {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #444;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #444;
    font-size: 16px;
    transition: 0.3s;
}

.menu a:hover {
    color: #E9D56D; /* tom mais forte */
}

/* HERO */
.hero {
    background: url('https://images.unsplash.com/photo-1518770660439-4636190af475?w=1200')
    no-repeat center;
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    background: rgba(255,255,255,0.7);
    padding: 30px;
    border-radius: 10px;
    color: #444;
}

.hero-content h2 span {
    color: #E0C45C; /* amarelo mais forte */
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: #E9D56D;
    color: #444;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    font-weight: bold;
}

.btn:hover {
    background: #d6c050;
}

/* SEÇÕES PADRÃO */
.container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
}

h2 {
    margin-bottom: 20px;
    color: #E0C45C;
}

/* HABILIDADES */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.skill-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.10);
    font-weight: bold;
    border-left: 6px solid #F7E9A7;
}

/* PROJETOS */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border-top: 6px solid #F7E9A7;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.12);
}

.project-card h3 {
    margin-bottom: 10px;
    color: #444;
}

/* CONTATO */
.contato p strong {
    color: #444;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #F7E9A7;
    color: #444;
    margin-top: 30px;
    font-weight: bold;

<link rel="stylesheet" href="css/style.css" />

}

